div.moder_tabanc table {
    width: 100%;
    border: 1px solid red; 
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

div.moder_tabanc td {
    border: 1px solid green; 
}
