img[data-card-id="00"] {
    background: url('img/cards_xx.png') -0px -0px;
}

img[data-card-id="01"] {
    background: url('img/cards_xx.png') -0px -111px;
}

img[data-card-id="02"] {
    background: url('img/cards_xx.png') -0px -222px;
}

img[data-card-id="03"] {
    background: url('img/cards_xx.png') -0px -333px;
}

img[data-card-id="04"] {
    background: url('img/cards_xx.png') -0px -444px;
}

img[data-card-id="05"] {
    background: url('img/cards_xx.png') -65px -0px;
}

img[data-card-id="06"] {
    background: url('img/cards_xx.png') -65px -111px;
}

img[data-card-id="07"] {
    background: url('img/cards_xx.png') -65px -222px;
}

img[data-card-id="08"] {
    background: url('img/cards_xx.png') -65px -333px;
}

img[data-card-id="09"] {
    background: url('img/cards_xx.png') -65px -444px;
}

img[data-card-id="10"] {
    background: url('img/cards_xx.png') -130px -0px;
}

img[data-card-id="11"] {
    background: url('img/cards_xx.png') -130px -111px;
}

img[data-card-id="12"] {
    background: url('img/cards_xx.png') -130px -222px;
}

img[data-card-id="13"] {
    background: url('img/cards_xx.png') -130px -333px;
}

img[data-card-id="14"] {
    background: url('img/cards_xx.png') -130px -444px;
}

img[data-card-id="15"] {
    background: url('img/cards_xx.png') -195px -0px;
}

img[data-card-id="16"] {
    background: url('img/cards_xx.png') -195px -111px;
}

img[data-card-id="17"] {
    background: url('img/cards_xx.png') -195px -222px;
}

img[data-card-id="18"] {
    background: url('img/cards_xx.png') -195px -333px;
}

img[data-card-id="19"] {
    background: url('img/cards_xx.png') -195px -444px;
}

img[data-card-id="20"] {
    background: url('img/cards_xx.png') -260px -0px;
}

img[data-card-id="21"] {
    background: url('img/cards_xx.png') -260px -111px;
}

img[data-card-id="22"] {
    background: url('img/cards_xx.png') -260px -222px;
}

img[data-card-id="23"] {
    background: url('img/cards_xx.png') -260px -333px;
}

img[data-card-id="24"] {
    background: url('img/cards_xx.png') -260px -444px;
}

img[data-card-id="25"] {
    background: url('img/cards_xx.png') -325px -0px;
}

img[data-card-id="26"] {
    background: url('img/cards_xx.png') -325px -111px;
}

img[data-card-id="27"] {
    background: url('img/cards_xx.png') -325px -222px;
}

img[data-card-id="28"] {
    background: url('img/cards_xx.png') -325px -333px;
}

img[data-card-id="29"] {
    background: url('img/cards_xx.png') -325px -444px;
}

img[data-card-id="30"] {
    background: url('img/cards_xx.png') -390px -0px;
}

img[data-card-id="31"] {
    background: url('img/cards_xx.png') -390px -111px;
}

img[data-card-id="32"] {
    background: url('img/cards_xx.png') -390px -222px;
}

img[data-card-id="33"] {
    background: url('img/cards_xx.png') -390px -333px;
}

img[data-card-id="34"] {
    background: url('img/cards_xx.png') -390px -444px;
}

img[data-card-id="35"] {
    background: url('img/cards_xx.png') -455px -0px;
}

img[data-card-id="36"] {
    background: url('img/cards_xx.png') -455px -111px;
}

img[data-card-id="37"] {
    background: url('img/cards_xx.png') -455px -222px;
}

img[data-card-id="38"] {
    background: url('img/cards_xx.png') -455px -333px;
}

img[data-card-id="39"] {
    background: url('img/cards_xx.png') -455px -444px;
}

img[data-card-id="cover"] {
    background: url('img/cards_xx.png') -520px -0px;
}

img[data-card-id="00_ea"] {
    background: url('img/cards_xx_ea.png') -0px -0px;
}

img[data-card-id="01_ea"] {
    background: url('img/cards_xx_ea.png') -0px -65px;
}

img[data-card-id="02_ea"] {
    background: url('img/cards_xx_ea.png') -0px -130px;
}

img[data-card-id="03_ea"] {
    background: url('img/cards_xx_ea.png') -0px -195px;
}

img[data-card-id="04_ea"] {
    background: url('img/cards_xx_ea.png') -0px -260px;
}

img[data-card-id="05_ea"] {
    background: url('img/cards_xx_ea.png') -111px -0px;
}

img[data-card-id="06_ea"] {
    background: url('img/cards_xx_ea.png') -111px -65px;
}

img[data-card-id="07_ea"] {
    background: url('img/cards_xx_ea.png') -111px -130px;
}

img[data-card-id="08_ea"] {
    background: url('img/cards_xx_ea.png') -111px -195px;
}

img[data-card-id="09_ea"] {
    background: url('img/cards_xx_ea.png') -111px -260px;
}

img[data-card-id="10_ea"] {
    background: url('img/cards_xx_ea.png') -222px -0px;
}

img[data-card-id="11_ea"] {
    background: url('img/cards_xx_ea.png') -222px -65px;
}

img[data-card-id="12_ea"] {
    background: url('img/cards_xx_ea.png') -222px -130px;
}

img[data-card-id="13_ea"] {
    background: url('img/cards_xx_ea.png') -222px -195px;
}

img[data-card-id="14_ea"] {
    background: url('img/cards_xx_ea.png') -222px -260px;
}

img[data-card-id="15_ea"] {
    background: url('img/cards_xx_ea.png') -333px -0px;
}

img[data-card-id="16_ea"] {
    background: url('img/cards_xx_ea.png') -333px -65px;
}

img[data-card-id="17_ea"] {
    background: url('img/cards_xx_ea.png') -333px -130px;
}

img[data-card-id="18_ea"] {
    background: url('img/cards_xx_ea.png') -333px -195px;
}

img[data-card-id="19_ea"] {
    background: url('img/cards_xx_ea.png') -333px -260px;
}

img[data-card-id="20_ea"] {
    background: url('img/cards_xx_ea.png') -444px -0px;
}

img[data-card-id="21_ea"] {
    background: url('img/cards_xx_ea.png') -444px -65px;
}

img[data-card-id="22_ea"] {
    background: url('img/cards_xx_ea.png') -444px -130px;
}

img[data-card-id="23_ea"] {
    background: url('img/cards_xx_ea.png') -444px -195px;
}

img[data-card-id="24_ea"] {
    background: url('img/cards_xx_ea.png') -444px -260px;
}

img[data-card-id="25_ea"] {
    background: url('img/cards_xx_ea.png') -555px -0px;
}

img[data-card-id="26_ea"] {
    background: url('img/cards_xx_ea.png') -555px -65px;
}

img[data-card-id="27_ea"] {
    background: url('img/cards_xx_ea.png') -555px -130px;
}

img[data-card-id="28_ea"] {
    background: url('img/cards_xx_ea.png') -555px -195px;
}

img[data-card-id="29_ea"] {
    background: url('img/cards_xx_ea.png') -555px -260px;
}

img[data-card-id="30_ea"] {
    background: url('img/cards_xx_ea.png') -666px -0px;
}

img[data-card-id="31_ea"] {
    background: url('img/cards_xx_ea.png') -666px -65px;
}

img[data-card-id="32_ea"] {
    background: url('img/cards_xx_ea.png') -666px -130px;
}

img[data-card-id="33_ea"] {
    background: url('img/cards_xx_ea.png') -666px -195px;
}

img[data-card-id="34_ea"] {
    background: url('img/cards_xx_ea.png') -666px -260px;
}

img[data-card-id="35_ea"] {
    background: url('img/cards_xx_ea.png') -777px -0px;
}

img[data-card-id="36_ea"] {
    background: url('img/cards_xx_ea.png') -777px -65px;
}

img[data-card-id="37_ea"] {
    background: url('img/cards_xx_ea.png') -777px -130px;
}

img[data-card-id="38_ea"] {
    background: url('img/cards_xx_ea.png') -777px -195px;
}

img[data-card-id="39_ea"] {
    background: url('img/cards_xx_ea.png') -777px -260px;
}

img[data-card-id="cover_ea"] {
    background: url('img/cards_xx_ea.png') -888px -0px;
}

img[data-card-id="00_we"] {
    background: url('img/cards_xx_we.png') -0px -0px;
}

img[data-card-id="01_we"] {
    background: url('img/cards_xx_we.png') -0px -65px;
}

img[data-card-id="02_we"] {
    background: url('img/cards_xx_we.png') -0px -130px;
}

img[data-card-id="03_we"] {
    background: url('img/cards_xx_we.png') -0px -195px;
}

img[data-card-id="04_we"] {
    background: url('img/cards_xx_we.png') -0px -260px;
}

img[data-card-id="05_we"] {
    background: url('img/cards_xx_we.png') -111px -0px;
}

img[data-card-id="06_we"] {
    background: url('img/cards_xx_we.png') -111px -65px;
}

img[data-card-id="07_we"] {
    background: url('img/cards_xx_we.png') -111px -130px;
}

img[data-card-id="08_we"] {
    background: url('img/cards_xx_we.png') -111px -195px;
}

img[data-card-id="09_we"] {
    background: url('img/cards_xx_we.png') -111px -260px;
}

img[data-card-id="10_we"] {
    background: url('img/cards_xx_we.png') -222px -0px;
}

img[data-card-id="11_we"] {
    background: url('img/cards_xx_we.png') -222px -65px;
}

img[data-card-id="12_we"] {
    background: url('img/cards_xx_we.png') -222px -130px;
}

img[data-card-id="13_we"] {
    background: url('img/cards_xx_we.png') -222px -195px;
}

img[data-card-id="14_we"] {
    background: url('img/cards_xx_we.png') -222px -260px;
}

img[data-card-id="15_we"] {
    background: url('img/cards_xx_we.png') -333px -0px;
}

img[data-card-id="16_we"] {
    background: url('img/cards_xx_we.png') -333px -65px;
}

img[data-card-id="17_we"] {
    background: url('img/cards_xx_we.png') -333px -130px;
}

img[data-card-id="18_we"] {
    background: url('img/cards_xx_we.png') -333px -195px;
}

img[data-card-id="19_we"] {
    background: url('img/cards_xx_we.png') -333px -260px;
}

img[data-card-id="20_we"] {
    background: url('img/cards_xx_we.png') -444px -0px;
}

img[data-card-id="21_we"] {
    background: url('img/cards_xx_we.png') -444px -65px;
}

img[data-card-id="22_we"] {
    background: url('img/cards_xx_we.png') -444px -130px;
}

img[data-card-id="23_we"] {
    background: url('img/cards_xx_we.png') -444px -195px;
}

img[data-card-id="24_we"] {
    background: url('img/cards_xx_we.png') -444px -260px;
}

img[data-card-id="25_we"] {
    background: url('img/cards_xx_we.png') -555px -0px;
}

img[data-card-id="26_we"] {
    background: url('img/cards_xx_we.png') -555px -65px;
}

img[data-card-id="27_we"] {
    background: url('img/cards_xx_we.png') -555px -130px;
}

img[data-card-id="28_we"] {
    background: url('img/cards_xx_we.png') -555px -195px;
}

img[data-card-id="29_we"] {
    background: url('img/cards_xx_we.png') -555px -260px;
}

img[data-card-id="30_we"] {
    background: url('img/cards_xx_we.png') -666px -0px;
}

img[data-card-id="31_we"] {
    background: url('img/cards_xx_we.png') -666px -65px;
}

img[data-card-id="32_we"] {
    background: url('img/cards_xx_we.png') -666px -130px;
}

img[data-card-id="33_we"] {
    background: url('img/cards_xx_we.png') -666px -195px;
}

img[data-card-id="34_we"] {
    background: url('img/cards_xx_we.png') -666px -260px;
}

img[data-card-id="35_we"] {
    background: url('img/cards_xx_we.png') -777px -0px;
}

img[data-card-id="36_we"] {
    background: url('img/cards_xx_we.png') -777px -65px;
}

img[data-card-id="37_we"] {
    background: url('img/cards_xx_we.png') -777px -130px;
}

img[data-card-id="38_we"] {
    background: url('img/cards_xx_we.png') -777px -195px;
}

img[data-card-id="39_we"] {
    background: url('img/cards_xx_we.png') -777px -260px;
}

img[data-card-id="cover_we"] {
    background: url('img/cards_xx_we.png') -888px -0px;
}

